@model DataCollector.Entities.SearchUserViewMode


@using (Html.BeginForm("Search", "Users", FormMethod.Post, new { @class = "form-inline" }))
            {

    <div class="form-group form-group-sm">
        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
        @Html.EditorFor(m => m.UserName, new
       {
           htmlAttributes = new
           {
               @class = "form-control ui-autocomplete-input",
               data_url = Url.Action("GetUserNamesForAutoComplete", "Users")
           }
       })
    </div>

    <input type="submit" class="btn btn-primary btn-sm" value="Edit" />

}
